// COLORS
$color-primary: #8B53DA;
$color-secondary: #ffc3cc;
$color-pink: #E62F89;

$color-dark: #212121;
$color-white: #FDFDFD;

$color-background: rgb(157, 93, 215);
$gradient-background: linear-gradient(128deg, #9b5cd6 0%, #f59074 100%);
$gradient-white: linear-gradient(128deg, #FDFDFD 0%, rgb(241, 241, 241) 100%);